<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>calamity_report</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to take photos and videos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs photo library access to select photos and videos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app needs photo library access to save photos and videos.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>このアプリは、地図機能のために現在地を使用します。</string> <!-- "This app uses your location for map functionality." -->
    <key>NSLocationAlwaysUsageDescription</key>
    <string>このアプリは、地図機能のために常に現在地を使用します。</string> <!-- "This app always uses your location for map functionality." -->
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>このアプリは、地図機能のために現在地を使用します。</string> <!-- "This app uses your location for map functionality." -->
</dict>
</plist>